/*
* La différence en ce fichier et le _sidebar-content est dans le grid où il y a ce symbole : **
*
*/
.site {
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas:
		"header header"
		"main main" // ** C'est ici que il y a une différence avec _sidebar-content
		"sidebar sidebar"
		"footer footer";

	/// Media Query
	@include desktop{
		grid-template-columns: 80% 20%;
		grid-template-areas:
			"header header"
			"main sidebar" // ** C'est ici que il y a une différence avec _sidebar-content
			"footer footer";
	}
	
}

.site-header {
	grid-area: header;
	height : 35vh;
	@mixin grand_desktop {
		height: 0vh
	}
	
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
	background-color: #6a8f7c;
	color: #bbd8c9;
	
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar"; /// permet d'avoir .site et d'avoir une classe no-sidebar, pour ne pas avoir de sidebar