

body.home{
    width : 100vw;
    height : 500vh;


    #primary {
        margin-left:0;
        width : 100vw;

        h1{ // -- Titre : Archives
            text-align: center;
        }
    }
}

body.home::after { // -- Ajouter la barre Diagonale (Clip-Path)
    width : 100%;
    height : 500vh;
    content : '';
    position : absolute;
    top:0;
    bottom:0;
    left : 0;
    right:0;
    clip-path: polygon( 100% 90%, 100% 100%,  70% 100%);
    background-color: rgba(121, 183, 241, 0.753);
    z-index : -1;

    @include desktop {
        clip-path: polygon(90% 0 , 100% 0, 100% 100% , 70% 100%);
        
    }
}



.site-title{
    font-family: $font__title;
    font-size: clamp(.9rem, #{"-0.875rem + 5.333vw"}, 2.5rem);
    font-weight: bold;
    color : #003;
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
   
}

.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color : #003;
    margin-top: 0;
}

.home .entry-header {
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 3rem);
}

/*
.accueil{

    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    ul{
        list-style-type: none;
    }

    img{
        display : block;
        border-radius : 50%;
        border : 1px solid #003
     
    }
}

*/   

.list-cours{
    display:flex;
    flex-direction: column;
    h2{
        text-align: center;
    }

    section.bloc {
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;

        article {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width : 94%;
            margin : 1%;
            
            border : 1px solid #aaa;
            p{
                font-size: .7rem;
                font-weight: bold;
            }
            a{ // -- Titre des cours
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration : none;
                text-align: center;
            }
        } // fin article

        @include tablet {
            article {
               width : 46%; 
            }
            
        }

        @include desktop {
            article {
               width : 31%; 
            }
            
        }
     }
}


