/// Page d'acceuil

body.home{ /// .home définit que ces règles de styles appartiennent seulement à la page d'accueil
    width : 100vw;
    height : 500vh;
    background-color: #F2D1C9;

    #primary {
        margin-left:0;
        width : 100vw;

        h1{ // -- Titre : Archives
            text-align: center;
        }
    }
}

body.home::after { // -- Ajouter la barre Diagonale (Clip-Path)
    width : 100%;
    height : 500vh;
    content : '';
    position : absolute;
    top:0;
    bottom:0;
    left : 0;
    right:0;
    clip-path: polygon( 100% 90%, 100% 100%,  70% 100%);
    background-color: #758f5f;
    z-index : -1;

    @include desktop {
        clip-path: polygon(90% 0 , 100% 0, 100% 100% , 70% 100%);
        
    }
}



.site-title{
    font-family: $font__title;
    font-size: clamp(.9rem, #{"-0.875rem + 5.333vw"}, 2.5rem);
    font-weight: bold;
    color : #003;
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
   
}

.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color : #003;
    margin-top: 0;
}

.home .entry-header {
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 3rem);
}

/*
.accueil{

    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    ul{
        list-style-type: none;
    }

    img{
        display : block;
        border-radius : 50%;
        border : 1px solid #003
     
    }
}

*/   

.list-cours{
    display:flex;
    flex-direction: column;
    
    h2{
        text-align: center;
        font-size: 2.3rem;
        color: #155029;
    }

    section.bloc {
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        article:hover{ // Quand on hover sur les cases de cours
            background-color: #f5e6e2;
            color: #426A5A; 
            box-shadow: none;
            a,h4{
                color: #eec2b7;
                text-shadow: none;
            }
        }    
        article {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width : 94%;
            height: 230px;
            margin : 1%;
            background-color: #426a5a;
            border-radius : 40px;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 20px;
            box-shadow: -1px 32px 50px -32px rgba(0,0,0,0.75);
            transition: 0.5s all ease-in-out;
            
            p{
                font-size: .7rem;
                font-weight: bold;
                padding-top: 20px;
            }
            p:nth-of-type(2){
                padding-bottom: 20px;
            }
            a{ // -- Titre des cours
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration : none;
                text-align: center;
                padding: 10px;
                color : #BAD1CD;
                text-shadow: 4px 4px 12px rgba(0,0,0,0.45);
            }
            h4{ 
                color: #153B50;
            }
        } // fin article

        @include tablet {
            article {
               width : 46%; 
            }
            
        }

        @include desktop {
            article {
               width : 31%; 
            }
            
        }
     }
}

/// La boîte qui affiche les 3 nouvelles
.home .nouvelles{
    display: flex;
    flex-direction: column;
    margin: 3% 4% 3% 2%;

    #bout_nouvelles {
        background-color: #cbdfbd; 
        color: #273f35;
        font-size: 1.3rem;
        box-shadow: -1px 32px 50px -32px rgba(0,0,0,0.75);
        transition: 0.5s all ease-in-out;
    }
    /// Quand l'utilisateur Hover sur le bouton Afficher les 3 dernières nouvelles
    #bout_nouvelles:hover{
        background-color: #a0c288;
    }

    section{
        
        div{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100vw;
            margin-left: 5%;
            margin-right: 5%;
            
        }
    }
}
