.carrousel-2 {
    display: flex;
    width : 300vw;
    height : 30vh;
    transition : transform .5s;
    flex-wrap: nowrap;
    .slide__conteneur{
        width : 50vw;
        display : flex;
        align-items: center;
        justify-content: center;

        
        .slide{
            width : 90%;
            display : flex;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            

            img {
                display : block;
                margin : 2%;
            }
            .slide__info{
                margin : 2%;
                display : flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p{
                    font-size: .7rem;
                    font-weight: bold;
                }
                a { /// Titre des cours
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-decoration : none;
                    text-align: center;
                    padding: 10px;
                    color : rgb(240, 219, 181);
                    text-shadow: 4px 4px 12px rgba(0,0,0,0.45);
                }
                
                
                h4{ 
                    color: #153B50;
                }        
            }
            &:nth-of-type(1){
                background-color: rgb(185, 183, 27);
                transition: all 0.5s;
                margin-bottom: 5vh;
            }
            &:nth-of-type(1):hover{
                background-color: rgb(211, 209, 90);
                a{
                    text-shadow: none;
                }
            }
            &:nth-of-type(2){
                background-color: rgb(77, 190, 67);
            }
            &:nth-of-type(3){
                background-color: rgb(67, 90, 190);
            }

        } // fin du div

    }
}    
/// BLOC DE WEB
.carrousel-2:nth-of-type(1) {
    .slide__conteneur{
      .slide{
            .slide__info{
                a { /// Titre des cours
                    color: #F1FAEE;
                }  
                p{
                    color : #457B9D;
                }       
            }
            &:nth-of-type(1){
                background-color: #2b3a4e;
                transition: all 0.5s;
                margin-bottom: 5vh;
            }
            &:nth-of-type(1):hover{
                background-color: #465b77;
                a{
                    text-shadow: none;
                    color: #ffffff;
                }
            }

        } // fin du div

    }
} 
/// BLOC DE JEU
.carrousel-2:nth-of-type(6) {
    .slide__conteneur{
      .slide{
            .slide__info{
                a { /// Titre des cours
                    color: #f3dbdc;
                }  
                p{
                    color : #f1c1a7;
                }       
            }
            &:nth-of-type(1){
                background-color: #B56576;
            }
            &:nth-of-type(1):hover{
                background-color: #cf8394;
                a{
                    text-shadow: none;
                    color: #faeeef;
                }
            }

        } // fin du div

    }
} 

.ctrl-carrousel {
    width : 100vw;
    height: 5vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD1CD;
    color: #775e88;
    margin-top:2vh;
    input {
        margin: 2rem;
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
            color: #775e88;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
        }
        &:nth-of-type(4){
            display: none;
        }
        &:nth-of-type(5){
            display: none;
        }
        &:nth-of-type(6){
            display: none;
        }
    }
}
