.galerie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-right : 3%;

    img{
        border-radius: 5px;
        display: block;
    }
    .flip-card {
        margin : 2%;
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px; /// Distance qui separe l'observateur de l'animation
        
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        /// veut dire qu'on ne voit pas le backface
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
    }
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg); /// Permet de mettre a l'endroit le texte, sinon il serait a l'envers a cause du premier 180deg

        margin-top: -150px; /// sinon ca s'affiche en dessous de l'image 
        height: 150px;
        width: 150px;
        border-radius: 5px;
        a{
            color: rgb(212, 210, 190) ;
            font-style: italic;
        }
    }


    /*
    article{
        transform-origin: 50% 50%;
        margin:1%;

        a{
            display: block;
            position: relative;
            width: 150px;
            height: 150px;
        }
        
    }*/
}