.site-title{
    font-family: $font__title;
    font-size: clamp(.9rem, #{"-0.875rem + 5.333vw"}, 2.5rem);
    font-weight: bold;
    color : #003;
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
   
}

.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color : #003;
    margin-top: 0;
}

.page-header{
    margin-top: 90px;

    .page-title{
        font-size: 4rem;
        color: #153B50;
        margin-bottom: 0;
        // L'animation
        animation-name: slider;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
    .archive-description{
        font-size: 1rem;
        color: #155041;
        p{
            margin: 0;
        }
    }
}

// L'animation du titre Archives 
@keyframes slider{
    0%{
        transform: translateX(-100%);
        animation-timing-function: cubic-bezier(0,1.04,.72,1.01); 
        text-shadow: none;
    }
    100%{ 
        transform: translateX(0px);
        animation-timing-function: cubic-bezier(1,0,1,.81);
        text-shadow: 4px 4px 12px rgba(0,0,0,0.45);
    }
}