.site-footer{
    display: flex;
    flex-direction: column;
    background-color: #273f35;
    color: #bbd3c9;
    width: 100vw;
    margin-left: 0;

    .ligne-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}