/// Formatte TOUTES les pages
.site {
    background-color: #F2D1C9;
}
.site-title{
    font-family: $font__title;
    font-size: clamp(.9rem, #{"-0.875rem + 5.333vw"}, 2.5rem);
    font-weight: bold;
    color : #003;
    margin-bottom: 0;
    a { /// Titre de la page "4W4"
        text-decoration: none;
        margin-left: 3%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
    }
    a:active { /// Titre de la page "4W4"
        transform: scale(0.95); 
    }
   
}


.site-description{
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color : #003;
    margin-top: 0;
    margin-left: 3%;
}

.page-header, .entry-header{
    margin-top: 10px;

    .page-title, .page-title2{
        font-size: 4rem;
    }
    .page-title2{ /// Le titre de Projets Personnels
        color: #3e6890;
        margin-bottom: 0;
        // L'animation
        animation-name: slider2;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
    .page-title, .entry-title{
        
        color: #153B50;
        margin-bottom: 0;
        // L'animation
        animation-name: slider;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
    .archive-description{
        font-size: 1rem;
        color: #155041;
        p{
            margin: 0;
        }
        
    }
}

/// Titres des cours dans leurs pages respectives
.entry-title{
    font-size: 3rem;
    margin-top: 70px;
}
/// Textes qui décrivent les cours dans leurs pages respectives 
.entry-content{
    p{
        //margin-top: 50px;
        margin-left : 5%;  
        width: 90%;
        //margin-bottom: 15%;
    }
}
/// Les titres tels que 350-5N1 Communication et dynamique d’une équipe de travail (45h), Projets, etc
.entry-header{
    margin-left: 3%;
}

.archive-description, .entry-content { /// Description des articles de projets, cours, etc. Exemple : Quelques projets de nos étudiants en technique d'intégration multimédia au Collège de Maisonneuve
    margin-left: 3%
}

/// Pour enlever le "Posted in Cours, Imagerie 2d/3d
.entry-footer {
    display: none;
}

// L'animation du titre
@keyframes slider{
    0%{
        transform: translateX(-100%);
        animation-timing-function: cubic-bezier(0,1.04,.72,1.01); 
        text-shadow: none;
    }
    100%{ 
        transform: translateX(0px);
        animation-timing-function: cubic-bezier(1,0,1,.81);
        text-shadow: 4px 4px 12px rgba(0,0,0,0.45);
    }
}

// L'animation du titre
@keyframes slider2{
    0%{
        transform: translateX(-100%);
        animation-timing-function: cubic-bezier(0,1.04,.72,1.01); 
        text-shadow: none;
    }
    100%{ 
        transform: translateX(50%);
        animation-timing-function: cubic-bezier(1,0,1,.81);
        text-shadow: 4px 4px 12px rgba(0,0,0,0.45);
    }
}